<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain/HeartRateMonitor2" version="1.0.12" viewmodes="maximized">
    <tizen:application id="yyp4tWap8U.HeartRateMonitor2" package="yyp4tWap8U" required_version="2.3.1"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <feature name="http://tizen.org/feature/humanactivitymonitor"/> <!-- 이거 -->
    <icon src="icon.png"/>
    <name>HeartRateMonitor2</name>
    <tizen:privilege name="http://tizen.org/privilege/network.get"/>
    <tizen:privilege name="http://tizen.org/privilege/internet"/>
    <tizen:privilege name="http://tizen.org/privilege/healthinfo"/>
	<tizen:privilege name="http://tizen.org/privilege/location"/>
	<tizen:privilege name="http://tizen.org/privilege/medicalinfo"/>
	<tizen:privilege name="http://tizen.org/privilege/geolocationpermission.read"/>
    <tizen:privilege name="http://tizen.org/privilege/geolocationpermission.write"/>
    <tizen:profile name="wearable"/>
    <tizen:setting background-support="enable" encryption="disable" hwkey-event="enable"/>
</widget>